* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
  }
  .banner{
    background-image:url(/portfolio/jess-bailey-q10VITrVYUM-unsplash.jpg);
    padding: 200px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .padding{
    padding-bottom: 20px;
  }
  .hei{
    height:fit-content;
    width: fit-content;
  }
