* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .banner{
    background-image:url(./image/jess-bailey-q10VITrVYUM-unsplash.jpg);
    padding: 300px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .padding{
    padding-bottom: 20px;
  }
  @media(max-width:526px){
    .banner{
      padding: 100px 0;
    }
  }
#preloader{
  background:  #f3f3f6 url(./image/preloder4.gif) no-repeat center center;
  background-size: 100%;
  height:100vh ;
  width: 100%;
  position: fixed;
  z-index: 100;
}
