* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
  }
  .banner{
    background-image:url(./image/jess-bailey-q10VITrVYUM-unsplash.jpg);
    padding: 300px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .padding{
    padding-bottom: 20px;
  }
  @media(max-width:526px){
    .banner{
      padding: 100px 0;
    }
  }

